<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <startTracking>
        <processor patch:before="processor[@type='Sitecore.Analytics.Pipelines.StartTracking.InitializeTracker, Sitecore.Analytics']"
           type="GDT.TrackingConsent.Classes.xconnect.PreventTrackingUntilConsent, GDT.TrackingConsent" />
      </startTracking>
    </pipelines>
  </sitecore>
</configuration>